<div id="<%= dom_id bootcamp %>">
  <p>
    <strong>Name:</strong>
    <%= bootcamp.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bootcamp.description %>
  </p>

  <p>
    <strong>Dates:</strong>
    <%= bootcamp.dates %>
  </p>

</div>
